---
import Layout from '../../layouts/Layout.astro';
import messi from '../../components/Messi.js';

function simpl(a, b) {
  let res = a + b;
  return Math.round(res);
}
---

<Layout title='Baratos y normales en conjunto'>
  <main>
    <h1>Dominios</h1>
    <a href='/conjunto'> Conjunto</a>
    <br/>
    <a href='/'> Home</a>
    <ul>
      {
        messi
          .sort((a, b) => {
            return a.register + a.renew - (b.register + b.renew);
          })
          .map((m) => {
            if (m.type != 'handshake') {
              return (
                <li>
                  <h2>{m.tld}</h2>
                  <h3>{simpl(m.register, m.renew)}</h3>
                </li>
              );
            }
          })
      }
    </ul>
  </main>
</Layout>
<style>
  main {
    width: 100vw;
    min-height: 100vh;
  }
  h1 {
    width: 100vw;
    text-align: center;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
  }
  li,
  h2,
  h3 {
    max-width: fit-content;
    padding: 1px;
    text-align: center;
  }
  li {
    border: 1px solid black;
    margin: 1px;
    list-style: none;
  }
  h3 {
    color: red;
  }
</style>
